<section>
    <%= render "shared/header", current_user: @current_user %>
    <div class="homepage">
    <% if user_signed_in? %>
        <%= link_to "+ New Post", new_user_post_path(@current_user) %>
    <% else %>
        <p>Join Blog to create new post!</p>
    <% end %>
    </div>
    <div class="users-container">
    <% @users.each do |user| %>
        <%= render "shared/user_card", user: user %>
    <% end %>
    </div>
</section>
