<main>
<div class="users-container">
    <% @users.each do |user| %>
    <a href="/users/<%= user.id %>" class="users-link">
        <div class="user">
            <img src=<%= user.photo %> alt="User Photo" class="user-photo">
            <div class="user-details">
                <h2 class="user-name"><%= user.name%></h2>
                <h5 class="user-post-count">Number of posts: <%= user.posts_counter %> </h5>
            </div>

        </div>
        </a>
    <% end %>
</div>
</main>
