<header class="header">
    <div class="logo" >
    <%= link_to "Blog App", root_path %>
    </div>

    <% if user_signed_in? %>
        <div>
            <%= link_to current_user.name, user_path(current_user) %>
            <span><%= current_user.name[0].upcase %></span>
        </div>
    <% else %>
        <%= link_to 'Register New User', new_user_registration_path, class: "auth-btn" %>
    <% end %>

</header>
