<main>
    <div class="new-post-container">
      <h1>Add New Post</h1>
      <%= form_with model: @post, url: user_posts_path(@user) do |form| %>
      <div class="post-form">
        <%= form.text_field :title, required: true, placeholder: 'Post title', autofocus: true %>
        <%= form.text_area :text, required: true, autofocus: true, placeholder: 'Write your post here', rows: "12", height: "auto" %>
        <%= form.submit "Submit", class: "button" %>
      </div>
      <% end %>
    </div>
</main>
