/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --primary: #08c;
  --green: #008000;
  --danger: #e54b4b;
  --white: #fff;
  --darker: #000;
  --dark: #0f0f0f;
  --gray: #ccc;
  --blue: #405cf5;
}

.shadow {
  box-shadow: 0 5px 10px -5px var(--dark);
}

.link {
  color: #ffcd00;
  text-decoration: none;
  position: relative;
  transition: color 0.2s ease-out;
}

.link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffcd00;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-out;
}

.link:hover {
  color: #fff;
}

.link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  color: var(--blue);
  font-weight: 600;
}

.links:hover {
  color: var(--green);
  font-size: 1.025rem;
  text-decoration: none;
}
