/* Registrations: new.html.erb */
.registration-section {
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--primary);
}

.form-container {
  background-color: var(--white);
  border: 2px solid var(--gray);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;
}

.form-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.form-container h2 {
  margin-bottom: 1rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-container .field {
  margin-bottom: 0.5rem;
  width: 100%;
}

.form-container .field input {
  width: 100%;
  padding: 0.45rem;
  border-radius: 0.25rem;
}

.actions input[type='submit'] {
  background-color: var(--blue);
  border-radius: 6px;
  border-width: 0;
  color: var(--white);
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 1rem 0;
}

.field select {
  border-radius: 4px;
  padding: 0.2rem;
}

/* Sessions: new.html.erb */
.login {
  min-width: 350px;
  max-width: 800px;
}

.next-actions-links {
  flex-direction: column;
  padding-top: 1.2rem;
}

/* Passwords: new.html.erb */

/* shared: _error_messages.html.erb */
.error-message {
  color: var(--danger);
}

.error-text {
  list-style-type: none;
  color: var(--green);
}
