.form-container {
  max-width: 400px;
  margin: 1rem auto;
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.055),
    100px 100px 80px rgba(0, 0, 0, 0.11);
  padding: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.form-container h2 {
  margin-bottom: 1rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-container .field {
  margin-bottom: 0.5rem;
  width: 100%;
}

.form-container .field input {
  width: 100%;
  padding: 0.25rem;
}

.actions input[type='submit'] {
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 1rem 0;
}

.field-check {
  width: 100%;
}

.auth-btn {
  background-image:
    radial-gradient(
      100% 100% at 100% 0,
      #5adaff 0,
      #5468ff 100%
    );
  border: 0;
  border-radius: 6px;
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  font-family: monospace;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 1rem;
}

