/* Registrations: new.html.erb */
.registration-section {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.field {
  min-width: 350px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.form-container .field input {
  min-width: 350px;
  max-width: 800px;
  padding: 0.45rem;
  border-radius: 0.25rem;
}

.actions input[type='submit'] {
  background-color: var(--blue);
  border-radius: 6px;
  border-width: 0;
  color: var(--white);
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 1rem 0;
}

.field select {
  border-radius: 4px;
  padding: 0.2rem;
}

/* Sessions: new.html.erb */
.login {
  margin: 1rem 0;
  gap: 0.145rem;
}

.next-actions-links {
  flex-direction: column;
  padding-top: 1.2rem;
}

/* Passwords: new.html.erb */
.pwd {
  justify-content: stretch;
}

.forgot-pwd {
  padding: 4.35rem;
  gap: 1.5rem;
}

/* shared: _error_messages.html.erb */
.error-message {
  color: var(--danger);
}

.error-text {
  list-style-type: none;
  color: var(--green);
}
