/* index.html.erb */
.user-status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.public {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.current-user{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.para {
  align-self: flex-end;
  font-weight: 600;
}

.users-container {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}

.join {
  padding: 0.5rem 2rem;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 8px;
  font-weight: 800;
  align-self: center;
}

.features {
  display: flex;
  flex-direction: column;
}

.page-title {
  align-self: center;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  gap: 0.5rem;
  padding: 1rem;
}

.feature {
  border: 1px solid var(--dark);
}

.feature-grid .feature {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.feature h3 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

.feature p {
  font-size: 16px;
  color: #777;
  line-height: 1.6;
}

.feature:hover i {
  color: #2196f3;
}

/* Shared: user_card.html.erb */
.user-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.5rem;
  border-radius: 8px;
  border: 2px solid var(--dark);
  padding: 1.2rem;
}

.user-photo,
.user-photo img {
  width: 120px;
  height: 120px;
  border-radius: 8px 0 8px 0;
}

.membership {
  font-family: 'Great Vibes', cursive;
  font-size: larger;
  color: var(--green)
}

.posts-number {
  padding-bottom: 2px;
  text-align: center;
  border: none;
}

.logged-in {
  display: flex;
  gap: 1.2rem;
}

.user-name {
  color: var(--white);
  font-weight: 900;
}

.logout-btn {
  padding: 6px;
  background-color: var(--danger);
  color: var(--white);
  font-weight: 600;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

